*{
    padding: 0px;
    margin: 0px;
}
/* header start */
.menu ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1200px;
    background-color:mediumslateblue;
    height: 70px;
}

.menu ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    padding-top: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;

}
/* header responsive sight */
@media(max-width: 425px)
{
    .menu ul{
        gap: 10PX;
        padding-left: 0px;
        height: auto;
    }
    .menu ul li{
        margin-left: 0px;
        padding-top: 10px;
    }
    .menu ul li a{
        font-size: 15px;
    }
}
/* header end */
.line{
    margin-left: 800px;
    padding-top: 150px;
    font-size: 50px;
    justify-content: center;
}
h1{
    padding-bottom: 55px;
}
.line h1{
    color:coral;
     /* background: linear-gradient(to bottom, rgb(81, 200, 255), white); */
}

.but{
    margin-left: 880px;
    margin-top: 50px;
    font-size: 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    color:sandybrown;

}
.but:hover{
    background-color: blue;
    transition-duration: 3s;
}

.photo{
    margin-left: 120px;
    position: absolute;
    bottom: 240px;
    border: 10px solid burlywood;
    border-radius: 10px;
   
}

.photo :hover {
  filter: grayscale(0%) brightness(1.2);
  box-shadow: 0 0 25px 8px rgba(255, 255, 255, 0.7);
  border-color: #fff;
  transition: all 0.5s ease-in-out;
}
.about{
    padding-top: 100px;
    margin-left: 850px;
    justify-content: center;
    font-size: 30px;
}
.about p{
    margin-right: 200px;
}
.para{
    margin-left:420px ;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.para{
    background-color: aqua;
    border-radius: 15px;
    width: 1200px;
    padding: 15px;
}

.para :hover {
  filter: grayscale(0%) brightness(1.2);
  box-shadow: 0 0 25px 8px rgba(7, 28, 218, 0.7);
  border-color: #fff;
  transition: all 0.5s ease-in-out;
}
.skil h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}
.skil ul{
     display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skil ul li{
     list-style: none;
     font-size: 23px;
     text-decoration: none;
     margin-left: 20px;
     font-weight: bold;
     background-color:bisque;
     border-radius: 8px;
     padding: 6px;
}
.train{
    padding-top: 100px;
    margin-left: 850px;
    justify-content: center;
    font-size: 30px;
}
.paragraph h3{
    margin-left: 600px;
    font-weight: bolder;
    font-size: 30px;
}
.paragraph h4{
    margin-left: 600px;
    padding-top: 15px;
    font-size: 20px;
}
.paragraph{
    background-color: aquamarine;
    border-radius: 50px;
    padding: 15px;
    width: 1600px;
    margin-left: 120px;
}
.paragraph:hover {
  filter: grayscale(0%) brightness(1.2);
  box-shadow: 0 0 25px 8px rgba(7, 176, 12, 0.7);
  border-color: #fff;
  transition: all 0.5s ease-in-out;
}
.contact{
    padding-top: 100px;
    margin-left: 800px;
    justify-content: center;
    font-size: 30px;
}


.box{
    margin-left: 750px;
}
.box input{
    padding: 15px;
    width: 350px;
    border-radius: 10px;
}
.box1 input{
    padding: 15px;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    margin-left:750px ;
    font-size: large;
}
.but1{
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    width: 390px;
    margin-left: 750px;
    margin-top: 25px;
    background-color: #d8f9ff;
}
.but1:hover{
    background-color: blue;
    transition-duration: 3s;
}

.footer{
    background-color: yellowgreen; 
    height: 70px;
    padding-top: 55px;
   
}
.footer h3{
    margin-left: 800px;
}
.footer a{
    margin-left: 100px;
    margin-left: 900px;
}
.main{
    background-image: url(assests/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}